/.idea/.gitignore
/BookJar.iml
/out/production/BookJar/sample/Controller.class
/JavaFxApplication.iml
/.idea/libraries/lib.xml
/out/production/BookJar/sample/Main.class
/.idea/misc.xml
/.idea/modules.xml
/out/production/BookJar/sample/sample.fxml
/.idea/vcs.xml
