/.idea/.gitignore
/BookJar.iml
/out/production/BookJar/sample/Controller.class
/JavaFxApplication.iml
/.idea/libraries/lib.xml
/out/production/BookJar/sample/Main.class
/.idea/misc.xml
/.idea/modules.xml
/out/production/BookJar/sample/sample.fxml
/.idea/vcs.xml
/out/production/BookJar/Main/Controller.class
/out/production/BookJar/Main/Book.class
/out/production/BookJar/Main/BookController.class
/out/production/BookJar/Main/bookJar.fxml
/out/production/BookJar/Main/Main.class
/out/production/BookJar/Main/newBook.fxml
